@{
    ViewBag.Title = ViewData["PageTitle"];
}
<div id="pagetitle">
    <h2>@ViewData["PageTitle"]</h2>
</div>
<div style="padding:0 20px;">
    <h3 style="color:red;">Bạn không có quyền truy cập vào chức năng này</h3>
</div>