@{
	ViewBag.Title = ViewData["PageTitle"];
	int QuyenThem = Helper.NullToZero(ViewData["QuyenThem"]);
	int QuyenXoa = Helper.NullToZero(ViewData["QuyenXoa"]);
	int QuyenDongBo = Helper.NullToZero(ViewData["QuyenDongBo"]);
}

<link rel="stylesheet" href="~/css/nguoi_dung.css" type="text/css">
<link rel="stylesheet" href="~/css/jquery.treetable.theme.default.css" type="text/css">

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/c29ec90d7d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="overflow:auto">
	<input type="hidden" id="hidtotalPage" value="1" />
	<input type="hidden" id="hidPageIndex" value="1" />
	<input type="hidden" id="hidTrangThai" value="1" />
	<div class="main">
		<!-- <div class="nav_bar">
			<div class="menu">
				<button><b>Phân Quyền</b></button>
				<button>Tất cả</button>
				<button>Đang sử dụng</button>
				<button>Không sử dụng</button>
			</div>
			<div class="user">
				<i class="fa-solid fa-bell"></i>
				<div class="name_user">
					<p class="email_user"><a href="#">Admin@gmail.com</a></p>
					<p class="role_user">admin</p>
				</div>
			</div>
		</div> -->
		<div class="table">
				<div class="pnfilter">
					<div class="pnbnt">
						@{
							if (QuyenThem > 0)
							{
								<span class="btn" onclick="openPopup('Thêm mới nhóm quyền')"><img src="~/images/round_plus.png">Thêm</span>
							}
						}
						@{
							if (QuyenThem > 0)
							{
								<span class="btnhide" id="btnSua" onclick="openPopupSua('Sửa nhóm quyền')"><img src="~/images/pencil.png">Sửa</span>
							}
						}
						@{
							if (QuyenXoa > 0)
							{
								<span class="btnhide" id="btnXoa" onclick="XoaData()"><img src="~/images/delete.png">Xóa</span>
							}
						}
						<span class="btn btnNap" onclick="NapData();"><img src="~/images/nap.png" />Nạp</span>
					</div>
				</div>
			</div>
		<div class="tbl" role="region" aria-labelledby="HeadersCol" tabindex="0">
			<table width="100%" id="gridbody">
				<tr class="rhead">
					<th class="colchk"><input type="checkbox" id="chkAll" onclick="setCheckAll(this);" /><span class="bdb"></span></th>
					<th width="150">Mã nhóm quyền<span class="bdb"></span></th>
					<th width="350">Tên nhóm quyền<span class="bdb"></span></th>
					<th width="60">STT<span class="bdb"></span></th>
					<th width="150">Mô tả<span class="bdb"></span></th>
					<th width="60">Sử dụng<span class="bdb"></span></th>
					@*	<th width="130"><span class="bdb"></span></th>
					<th>Mô tả<span class="bdb"></span></th>*@
				</tr>
				
			</table>
		</div>
	</div>




	<div class="bg_color"></div>




</body>

<script>
	function openPopupSua(title) {
		var id = $("#hidIDSelected").val();
		if (id == 0 || id == null) { return; }
		if (id.length > 0) id = id.substr(1);
		openPopup(title, id);
	}
	function openPopup(title, id) {
		id = EmptyNull(id);
		new top.PopLayer({
			"title": title,
			"url": "pop-co-cau-chuc-danh/" + id,
			"width": 645,
			"height": 380,
			"isModal": true,
			"moveable": false,
			"isFullScreen": false
		});
	}
	function XoaData() {
		var chks = $('#gridbody td.colchk input[type="checkbox"]:checked');
		var max = chks.length;
		if (max < 1) { return; }
		if (!confirmDeleteVN()) { return; }
		var idQuyen = $("#hidIDQuyen").val();
		var tmp = "";
		for (var i = 0; i < max; i++) {
			var row = chks[i].parentNode.parentNode;
			var id = row.id;
			var idMucTieu = id.substr(1);
			tmp = tmp + idMucTieu + ";";
		}
		var Params = {
			"tmp": tmp,
			"idQuyen": idQuyen
		};

		$.ajax({
			type: "POST",
			traditional: true,
			//async: false,
			cache: false,
			url: '/XOA_CoCauToChucJson',
			context: document.body,
			data: Params,
			success: function (result) {
				if (result.err.length > 0) {
					MessageLoi(result.err);
				}
				else {
					MessageThanhCong("Xóa dữ liệu thành công");
					LoadData();
				}
			},
			error: function (err) {
				if (err.responseText != "")
					event.preventDefault();
			}
		});
	}
	function ThanhCongThemMoi() {
		document.getElementById('myPop-close').click();
		MessageThanhCong("Thêm mới thành công");
		LoadData();
	}
	function ThanhCongSua() {
		document.getElementById('myPop-close').click();
		MessageThanhCong("Lưu dữ liệu thành công");
		LoadData();
	}
</script>
<script>
	function goToPage(e) {
		var pageIndex = parseInt($("#hidPageIndex").val());
		var totalRow = parseInt($("#hidtotalPage").val());
		switch (e.currentTarget.id) {
			case 'gofirst':
				$("#hidPageIndex").val(1);
				break;
			case 'goprev':
				if (pageIndex > 1) pageIndex = pageIndex - 1;
				$("#hidPageIndex").val(pageIndex);
				break;
			case 'gonext':
				if (pageIndex < totalRow) pageIndex = pageIndex + 1;
				$("#hidPageIndex").val(pageIndex);
				break;
			case 'golast':
				$("#hidPageIndex").val(totalRow);
				break;
		}
		LoadData();
	}
	function setFilter(e, suDung) {
		$("#hidSuDung").val(suDung);
		$("#hidPageIndex").val(1);

		var i, tabFilter;
		tabFilter = document.getElementById("filter").getElementsByTagName("span");
		for (i = 0; i < tabFilter.length; i++) {
			tabFilter[i].className = "";
		}
		e.currentTarget.className = "active";
		LoadData();
	}
	function NapData() {
		$("#hidPageIndex").val(1);
		LoadData();
	}
	function LoadData() {
		$("#hidIDSelected").val('');
		beginProgress();
		var error = $("#error");
		error.css("display", "none");
		var idQuyen = $("#hidIDQuyen").val();
		var idCocau = $("#ddlToChuc").val();
		var idNhomCap = $("#ddlNhomCap").val();
		var suDung = $("#hidSuDung").val();
		var pageIndex = $("#hidPageIndex").val();
		var keyword = $("#txtKeyword").val();
		//null:tất cả - 1: Đang sử dung - 0:không sử dụng
		var Params = {
			"idNhomCap": idNhomCap,
			"idCocau": idCocau,
			"suDung": suDung,
			"keyword": keyword,
			"pageIndex": pageIndex,
			"idQuyen": idQuyen
		};
		$.ajax({
			type: "GET",
			traditional: true,
			async: true,
			cache: false,
			url: '/admin_nhom_quyen_json',
			context: document.body,
			data: Params,
			success: function (result) {
				if (result.err.length > 0) {
					error.text(result.err);
					error.css("display", "inline");
				}
				resetTable();
				var list = result.list;
				var pager = result.pager;
				//Update pager
				var totalPage = Math.ceil(pager.totalRow / pager.pageSize);
				var fromRow = (pager.pageSize * (pageIndex - 1) + 1);
				var toRow = pager.pageSize * pageIndex;
				if (toRow > pager.totalRow) toRow = pager.totalRow;
				$("#hidtotalPage").val(totalPage);
				$("#pageinfo").text(fromRow + " - " + toRow + " trong " + pager.totalRow);
				$("#currentIndex").text(pageIndex + "/" + totalPage);

				var max = list.length;
				var tmp = "";
				for (var i = 0; i < max; i++) {
					var obj = list[i];
					var rowid = "r" + obj.idCoCau;
					var bsuDung = true;
					if (suDung == 0) { bsuDung = false; }
					if (suDung == null || suDung == '' || obj.suDung == bsuDung) {
						tmp = tmp + '<tr id="' + rowid + '" onclick="setSelect(this);">';
						tmp = tmp + '<td class="colchk"><span class="bleft"></span><input type="checkbox" onclick="BtnFire(this)"></td>';
						tmp = tmp + '<td class="break P' + EmptyNull(obj.capBac) + '">' + EmptyNull(obj.maCoCau) + '</td>';
						//tmp = tmp + '<td class="break P' + '1">'+ EmptyNull(obj.maCoCau) + '</td>';

						//tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '">';
						//if (obj.coLopCon == true) {
						//    tmp = tmp + '<img class="exp" src="./images/arrow_down.png">';
						//}
						tmp = tmp + "<td>" + EmptyNull(obj.tenCoCau) + '</td>';

						//tmp = tmp + '<td>' + EmptyNull(obj.tenCoCauNgan) + '</td>';
						tmp = tmp + '<td class="tr">' + EmptyNull(obj.thuTu) + '</td>';

						tmp = tmp + '<td>' + EmptyNull(obj.moTa) + '</td>';

						if (obj.suDung == true)
							tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
						else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';

						//tmp = tmp + '<td>' + EmptyNull(obj.tenNhomCap) + '</td>';

						tmp = tmp + '</tr>';
					}
				}
				$('#progress').css({ width: 100 + '%' });
				$('#chkAll').prop('checked', false);
				$('#gridbody').append(tmp);
				endProgress();
			},
			error: function (err) {
				if (err.responseText != "")
					event.preventDefault();
			}
		});
	}
	$(document).ready(function () {
		LoadData();
	});
	function popDongBo(title) {
		new top.PopLayer({
			"title": title,
			"url": "pop-dong-bo-co-cau",
			"width": 450,
			"height": 220,
			"isModal": true,
			"moveable": false,
			"isFullScreen": false
		});
	}
	function DongBoData() {
		$("#hidIDSelected").val('');
		beginProgress();
		var error = $("#error");
		error.css("display", "none");
		var idQuyen = $("#hidIDQuyen").val();
		var idCocau = $("#ddlToChuc").val();
		var idNhomCap = $("#ddlNhomCap").val();
		var suDung = $("#hidSuDung").val();
		var pageIndex = $("#hidPageIndex").val();
		//null:tất cả - 1: Đang sử dung - 0:không sử dụng
		var Params = {
			"idNhomCap": idNhomCap,
			"idCocau": idCocau,
			"suDung": suDung,
			"pageIndex": pageIndex,
			"idQuyen": idQuyen
		};
		var reqdata = {
			"UserName": "apihap@hap.vn",
			"Password": "apihap@hap.vn"
		};
		$.ajax({
			type: "GET",
			traditional: true,
			async: true,
			cache: false,
			url: '/DongBoCoCauJson',
			context: document.body,
			data: Params,
			success: function (result) {
				if (result.err.length > 0) {
					error.text(result.err);
					error.css("display", "inline");
				}
				resetTable();
				var list = result.list;
				var pager = result.pager;
				//Update pager
				var totalPage = Math.ceil(pager.totalRow / pager.pageSize);
				var fromRow = (pager.pageSize * (pageIndex - 1) + 1);
				var toRow = pager.pageSize * pageIndex;
				if (toRow > pager.totalRow) toRow = pager.totalRow;
				$("#hidtotalPage").val(totalPage);
				$("#pageinfo").text(fromRow + " - " + toRow + " trong " + pager.totalRow);
				$("#currentIndex").text(pageIndex + "/" + totalPage);

				var max = list.length;
				var tmp = "";
				for (var i = 0; i < max; i++) {
					var obj = list[i];
					var rowid = "r" + obj.idCoCau;
					var bsuDung = true;
					if (suDung == 0) { bsuDung = false; }
					if (suDung == null || suDung == '' || obj.suDung == bsuDung) {
						tmp = tmp + '<tr id="' + rowid + '" onclick="setSelect(this);">';
						tmp = tmp + '<td class="colchk"><span class="bleft"></span><input type="checkbox" onclick="BtnFire(this)"></td>';
						tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '"><span class="texthide">' + EmptyNull(obj.maCoCau) + '</span></td>';

						tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '"><span class="texthide">';
						if (obj.coLopCon == true) {
							tmp = tmp + '<img class="exp" src="./images/arrow_down.png">';
						}
						tmp = tmp + EmptyNull(obj.tenCoCau) + '</span></td>';

						tmp = tmp + '<td><span class="texthide">' + EmptyNull(obj.tenCoCauNgan) + '</span></td>';

						if (obj.suDung == true)
							tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
						else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';

						tmp = tmp + '<td><span class="texthide">' + EmptyNull(obj.tenNhomCap) + '</span></td>';

						tmp = tmp + '<td>' + EmptyNull(obj.moTa) + '</td>';
						tmp = tmp + '</tr>';
					}
				}
				$('#progress').css({ width: 100 + '%' });
				$('#chkAll').prop('checked', false);
				$('#gridbody').append(tmp);
				endProgress();
			},
			error: function (err) {
				if (err.responseText != "")
					event.preventDefault();
			}
		});
	}
</script>