@{
    ViewBag.Title = ViewData["PageTitle"];
    int QuyenThem = Helper.NullToZero(ViewData["QuyenThem"]);
    int QuyenXoa = Helper.NullToZero(ViewData["QuyenXoa"]);
    int QuyenDongBo = Helper.NullToZero(ViewData["QuyenDongBo"]);
    int QuyenImport = Helper.NullToZero(ViewData["QuyenImport"]);
    int QuyenExport = Helper.NullToZero(ViewData["QuyenExport"]);
}
<div id="pagetitle">
    <h2>@ViewData["PageTitle"]</h2>
    <div id="filter" class="filter">
        <span onclick="setFilter(event,'')">Tất cả</span>
        <span onclick="setFilter(event,1)" class="active">Đang làm việc</span>
        <span onclick="setFilter(event,2)">Đã nghỉ việc</span>
    </div>
</div>
<input type="hidden" id="hidtotalPage" value="1" />
<input type="hidden" id="hidPageIndex" value="1" />
<input type="hidden" id="hidTrangThai" value="1" />
<div class="pnfilter">
    <div class="pnbnt">
        <div class="pnbtn">
            @{if (QuyenThem > 0)
                {<span class="btn" onclick="openPopup('Thêm mới nhân sự')"><img src="~/images/round_plus.png">Thêm</span>} }
            @{if (QuyenThem > 0)
                {<span class="btnhide" id="btnSua" onclick="openPopupSua('Sửa thông tin nhân sự')"><img src="~/images/pencil.png">Sửa</span>} }
            @{if (QuyenXoa > 0)
                {<span class="btnhide" id="btnXoa" onclick="XoaData()"><img src="~/images/delete.png">Xóa</span>} }
            @{if (QuyenThem + QuyenXoa > 0)
                {<span class="bdl"></span>} }
            @{if (QuyenImport > 0)
                {<span class="btn" onclick="OpenImport('Import đơn vị')"><img src="./images/doc_import.png">Nhập</span>} }
            @{if (QuyenExport > 0)
                {<span class="btn" onclick="ExportData()"><img src="./images/doc_export.png">Xuất</span>} }
            @{if (QuyenImport + QuyenExport > 0)
                {<span class="bdl"></span>} }
            <div class="search0">
                <select id="ddlNhomCap" style="width:120px"><option></option></select>
                <select id="ddlToChuc" style="width:200px"><option></option></select>
                @*<label>Tìm kiếm</label>*@
                <input type="text" id="txtKeyword" value="" style="width:130px" placeholder="Nhập từ khóa" />
                <script>
                var ddlToChucData = @Html.Raw(Json.Serialize(ViewData["ddlToChuc"]));
                $("#ddlToChuc").select2({
                    placeholder: "Chọn đơn vị",
                    data: ddlToChucData.value,
                    dropdownAutoWidth: true,
                    allowClear: true
                });

                var ddlNhomCapData = @Html.Raw(Json.Serialize(ViewData["ddlNhomCap"]));
                $("#ddlNhomCap").select2({
                    placeholder: "Chọn cấp",
                    data: ddlNhomCapData.value,
                    allowClear: true
                });
                </script>

            </div>
            <span class="btn btnNap" onclick="NapData();"><img src="~/images/nap.png" />Nạp</span>
            <div class="pager">
                <div id="pageinfo" class="pageinfo">&nbsp;</div>
                <div class="fr">
                    <span id="gofirst" onclick="goToPage(event)">&lt;&lt;</span>
                    <span id="goprev" onclick="goToPage(event)">&lt;</span>
                    <span id="currentIndex"></span>
                    <span id="gonext" onclick="goToPage(event)">&gt;</span>
                    <span id="golast" onclick="goToPage(event)">&gt;&gt;</span>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>
<div class="split splitfull">
    <div class="tbl" role="region" aria-labelledby="HeadersCol" tabindex="0">
        <table width="100%" id="gridbody">
            <tr class="rhead">
                <th class="colchk"><input type="checkbox" id="chkAll" onclick="setCheckAll(this);" /><span class="bdb"></span></th>
                <th width="100">Mã nhân sự<span class="bdb"></span></th>
                <th width="200">Họ và tên<span class="bdb"></span></th>
                @*<th width="120">Tên rút gọn<span class="bdb"></span></th>*@
                <th width="200">Đơn vị<span class="bdb"></span></th>
                <th width="150">Chức danh<span class="bdb"></span></th>
                <th width="70">Ngày hiệu lực<span class="bdb"></span></th>
                <th width="70">Ngày hết hiệu lực<span class="bdb"></span></th>
                <th width="55">Có đánh giá<span class="bdb"></span></th>
                <th width="55">Đang làm việc<span class="bdb"></span></th>
                <th><span class="bdb"></span></th>
            </tr>
        </table>
    </div>
</div>
<script>
    function openPopupSua(title) {
        var id = $("#hidIDSelected").val();
        if (id == 0 || id == null) { return; }
        if (id.length > 0) id = id.substr(1);
        openPopup(title, id);
    }
    function openPopup(title, id) {
        id = EmptyNull(id);
        new top.PopLayer({
            "title": title,
            "url": "pop-co-cau-nhom-chuc/" + id,
            "width": 645,
            "height": 490,
            "isModal": true,
            "moveable": false,
            "isFullScreen": false
        });
    }
    function OpenImport(title) {
        new top.PopLayer({
            "title": title,
            "url": "pop-import-co-cau-nhan-su",
            "width": 450,
            "height": 220,
            "isModal": true,
            "moveable": true,
            "isFullScreen": false
        });
    }
    function XoaData() {
        var chks = $('#gridbody td.colchk input[type="checkbox"]:checked');
        var max = chks.length;
        if (max < 1) { return; }
        if (!confirmDeleteVN()) { return; }
        var idQuyen = $("#hidIDQuyen").val();
        var tmp = "";
        for (var i = 0; i < max; i++) {
            var row = chks[i].parentNode.parentNode;
            var id = row.id;
            var idMucTieu = id.substr(1);
            tmp = tmp + idMucTieu + ";";
        }
        var Params = {
            "tmp": tmp,
            "idQuyen": idQuyen
        };
        $.ajax({
            type: "POST",
            traditional: true,
            //async: false,
            cache: false,
            url: '/XOA_CoCauNhanSuJson',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    MessageLoi(result.err);
                }
                else {
                    MessageThanhCong("Xóa dữ liệu thành công");
                    LoadData();
                }
            },
            error: function (err) {
                if (err.responseText != "")
                    event.preventDefault();
            }
        });
    }
    function ThanhCongThemMoi() {
        document.getElementById('myPop-close').click();
        MessageThanhCong("Thêm mới thành công");
        LoadData();
    }
    function ThanhCongSua() {
        document.getElementById('myPop-close').click();
        MessageThanhCong("Lưu dữ liệu thành công");
        LoadData();
    }
</script>
<script>
    function goToPage(e) {
        var pageIndex = parseInt($("#hidPageIndex").val());
        var totalRow = parseInt($("#hidtotalPage").val());
        switch (e.currentTarget.id) {
            case 'gofirst':
                $("#hidPageIndex").val(1);
                break;
            case 'goprev':
                if (pageIndex > 1) pageIndex = pageIndex - 1;
                $("#hidPageIndex").val(pageIndex);
                break;
            case 'gonext':
                if (pageIndex < totalRow) pageIndex = pageIndex + 1;
                $("#hidPageIndex").val(pageIndex);
                break;
            case 'golast':
                $("#hidPageIndex").val(totalRow);
                break;
        }
        LoadData();
    }
    function setFilter(e, trangThai) {
        $("#hidTrangThai").val(trangThai);
        $("#hidPageIndex").val(1);

        var i, tabFilter;
        tabFilter = document.getElementById("filter").getElementsByTagName("span");
        for (i = 0; i < tabFilter.length; i++) {
            tabFilter[i].className = "";
        }
        e.currentTarget.className = "active";
        LoadData();
    }
    function NapData() {
        $("#hidPageIndex").val(1);
        LoadData();
    }
    function LoadData() { $("#hidIDSelected").val('');
        beginProgress();
        var error = $("#error");
        error.css("display", "none");
        var idQuyen = $("#hidIDQuyen").val();
        var idCocau = $("#ddlToChuc").val();
        var idNhomCap = $("#ddlNhomCap").val();
        var trangThai = $("#hidTrangThai").val();
        var pageIndex = $("#hidPageIndex").val();
        var keyword = $("#txtKeyword").val();
        //null:tất cả - 1: Đang sử dung - 0:không sử dụng
        var Params = {
            "idNhomCap": idNhomCap,
            "idCocau": idCocau,
            "trangThai": trangThai,
            "keyword": keyword,
            "pageIndex": pageIndex,
            "idQuyen": idQuyen
        };
        $.ajax({
            type: "GET",
            traditional: true,
            async: true,
            cache: false,
            url: '/co_cau_nhan_su_json',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    error.text(result.err);
                    error.css("display", "inline");
                }
                resetTable();
                var list = result.list;
                var pager = result.pager;
                //Update pager
                var totalPage = Math.ceil(pager.totalRow / pager.pageSize);
                var fromRow = (pager.pageSize * (pageIndex - 1) + 1);
                var toRow = pager.pageSize * pageIndex;
                if (toRow > pager.totalRow) toRow = pager.totalRow;
                $("#hidtotalPage").val(totalPage);
                $("#pageinfo").text(fromRow + " - " + toRow + " trong " + pager.totalRow);
                $("#currentIndex").text(pageIndex + "/" + totalPage);

                var max = list.length;
                var tmp = "";
                for (var i = 0; i < max; i++) {
                    var obj = list[i];
                    var rowid = "r" + obj.idNhanSu;
                    var btrangThai = true;
                    if (trangThai == 2) { btrangThai = false; }
                    {
                        tmp = tmp + '<tr id="' + rowid + '" onclick="setSelect(this);">';
                        tmp = tmp + '<td class="colchk"><span class="bleft"></span><input type="checkbox" onclick="BtnFire(this)"></td>';
                        tmp = tmp + '<td class="break">' + obj.maNhanSu + '</td>';
                        tmp = tmp + '<td><img src="' + obj.anhNhanSu + '" class="user"/><span class="uname">' + obj.hoVaTen + '</span></td>';
                        /*tmp = tmp + '<td>' + EmptyNull(obj.tenNhanSuNgan) + '</td>';*/
                        tmp = tmp + '<td>' + EmptyNull(obj.tenCoCau) + '</td>';
                        tmp = tmp + '<td>' + EmptyNull(obj.tenChucDanh) + '</td>';
                        tmp = tmp + '<td class="tc">' + EmptyNull(obj.sNgayHieuLuc) + '</td>';
                        tmp = tmp + '<td class="tc">' + EmptyNull(obj.sNgayHetHan) + '</td>';
                        if (obj.isDanhGia == true)
                            tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
                        else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';
                        if (obj.trangThai == true)
                            tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
                        else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';
                        tmp = tmp + '<td></td></tr>';
                    }
                }
                $('#progress').css({ width: 100 + '%' });
                $('#chkAll').prop('checked', false);
                $('#gridbody').append(tmp);
                endProgress();
            },
            error: function (err) {
                if (err.responseText != "")
                event.preventDefault();
            }
        });
    }
    function ExportData() {
        var idQuyen = $("#hidIDQuyen").val();
        var idCocau = $("#ddlToChuc").val();
        var idNhomCap = $("#ddlNhomCap").val();
        var trangThai = $("#hidTrangThai").val();
        var pageIndex = $("#hidPageIndex").val();
        var keyword = $("#txtKeyword").val();
        //null:tất cả - 1: Đang sử dung - 0:không sử dụng
        var Params = {
            "idNhomCap": idNhomCap,
            "idCocau": idCocau,
            "trangThai": trangThai,
            "keyword": keyword,
            "pageIndex": pageIndex,
            "idQuyen": idQuyen
        };
        $.ajax({
            type: "GET",
            traditional: true,
            async: true,
            cache: false,
            url: '/export_co_cau_nhan_su_json',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    error.text(result.err);
                    error.css("display", "inline");
                }
                var path = result.path;
                if (path.length > 0) {
                    window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "DownloadFile" })/?file=" + path;
                }
                $('#progress').css({ width: 100 + '%' });
                endProgress();
            },
            error: function (err) {
                if (err.responseText != "")
                    event.preventDefault();
            }
        });
    }
    $(document).ready(function () {
        LoadData();
    });
    function popDongBo(title) {
        new top.PopLayer({
            "title": title,
            "url": "pop-dong-bo-nhan-su",
            "width": 450,
            "height": 220,
            "isModal": true,
            "moveable": false,
            "isFullScreen": false
        });
    }
</script>