@{
    ViewBag.Title = ViewData["PageTitle"];
    int QuyenThem = Helper.NullToZero(ViewData["QuyenThem"]);
    int QuyenXoa = Helper.NullToZero(ViewData["QuyenXoa"]);
    int QuyenDuyet = Helper.NullToZero(ViewData["QuyenThem"]);
}
<div id="pagetitle">
    <h2>@ViewData["PageTitle"]</h2>
    <div id="filter" class="filter">
        <span onclick="setFilter(event,'')" class="active">Tất cả</span>
        <span onclick="setFilter(event,1)">Đã duyệt</span>
        <span onclick="setFilter(event,0)">Chưa duyệt</span>
    </div>
</div>
<input type="hidden" id="hidtotalPage" value="1" />
<input type="hidden" id="hidPageIndex" value="1" />
<input type="hidden" id="hidSuDung" value="" />
<style>
</style>
<div class="pnfilter">
    <div class="pnbnt">
        <div class="pnbtn">
            @{if (QuyenThem > 0)
                {<span class="btn" onclick="openPopup('Thêm mới đơn vị')"><img src="~/images/round_plus.png">Thêm</span>} }
            @{if (QuyenThem > 0)
                {<span class="btnhide" id="btnSua" onclick="openPopupSua('Sửa đơn vị')"><img src="~/images/pencil.png">Sửa</span>} }
            @{if (QuyenXoa > 0)
                {<span class="btnhide" id="btnXoa" onclick="XoaData()"><img src="~/images/delete.png">Xóa</span>} }
            @{if (QuyenThem + QuyenXoa > 0)
                {<span class="bdl"></span>} }
            @{if (QuyenDuyet > 0)
                {<span class="btnhide" id="btnDuyet" onclick="DuyetData();"><img src="~/images/duyet.png">Duyệt</span>
                    <span class="btnhide" id="btnHuyDuyet" onclick="HuyDuyetData();"><img src="~/images/huy_duyet.png">Hủy duyệt</span>
                    <span class="bdl"></span>} }
            <div class="search0">
                <select id="ddlNhomCap" style="width:140px"><option></option></select>
                <select id="ddlToChuc" style="min-width: 140px"><option></option></select>
                <input type="text" id="txtKeyword" value="" style="width:130px" placeholder="Nhập từ khóa" />
                <script type="text/javascript">
                        var ddlNhomCapData = @Html.Raw(Json.Serialize(ViewData["ddlNhomCap"]));
                        $("#ddlNhomCap").select2({
                            placeholder: "Chọn mô hình",
                            data: ddlNhomCapData.value,
                            allowClear: true
                        });
                        var ddlToChucData = @Html.Raw(Json.Serialize(ViewData["ddlToChuc"]));
                        $("#ddlToChuc").select2({
                            placeholder: "Chọn quy ước",
                            data: ddlToChucData.value,
                            dropdownAutoWidth: true,
                            allowClear: true
                        });
                </script>
            </div>
            <span class="btn btnNap" onclick="NapData();"><img src="~/images/nap.png" />Nạp</span>
            <div class="pager">
                <div id="pageinfo" class="pageinfo">&nbsp;</div>
                <div class="fr">
                    <span id="gofirst" onclick="goToPage(event)">&lt;&lt;</span>
                    <span id="goprev" onclick="goToPage(event)">&lt;</span>
                    <span id="currentIndex"></span>
                    <span id="gonext" onclick="goToPage(event)">&gt;</span>
                    <span id="golast" onclick="goToPage(event)">&gt;&gt;</span>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>
<div class="split splitfull">
    <div class="tbl9" role="region" aria-labelledby="HeadersCol" tabindex="0">
        <div class="tbl9Box">
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                        <div class="boxl">
                            <h3>Ngưỡng Kết quả thực hiện công việc</h3>
                            <table>
                                <tr><th width="150">Mức độ</th><th>Từ (>=)</th><th>Đến (<)</th></tr>
                                <tr><td>Cao</td><td><input type="text" value="90" /></td><td><input type="text" value="" /></td></tr>
                                <tr><td>Trung bình</td><td><input type="text" value="70" /></td><td><input type="text" value="90" /></td></tr>
                                <tr><td>Thấp</td><td><input type="text" value="" /></td><td><input type="text" value="70" /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                        <div class="boxr">
                            <h3>Ngưỡng Mức độ đáp ứng năng lực</h3>
                            <table>
                                <tr><th width="150">Mức độ</th><th>Từ (>=)</th><th>Đến (<)</th></tr>
                                <tr><td>Cao</td><td><input type="text" value="90" /></td><td><input type="text" value="" /></td></tr>
                                <tr><td>Trung bình</td><td><input type="text" value="70" /></td><td><input type="text" value="90" /></td></tr>
                                <tr><td>Thấp</td><td><input type="text" value="" /></td><td><input type="text" value="70" /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg1">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="bg2">
                <div class="box1"></div>
                <div class="box2">
                    <div class="cleft">
                        <span class="col1">Mã</span><input type="text" value="QU01-2022" class="input1" />
                        <div class="txtR"><span class="col2">Tên quy ước</span><input type="text" value="Quy ước 2022" class="input2" /></div>
                    </div>
                    <div class="cright">
                        <span class="col3">Thời hạn áp dụng</span><input type="text" value="01/01/2022" class="calendar" /><label> - </label><input type="text" value="31/12/2022" class="calendar" />
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <table width="100%" id="gridbody">
            <tr class="rhead">
                <th class="colchk"><input type="checkbox" id="chkAll" onclick="setCheckAll(this);" /><span class="bdb"></span></th>
                <th width="100">Mã đợt<span class="bdb"></span></th>
                <th width="300">Tên đợt<span class="bdb"></span></th>
                <th width="130">Mô hình<span class="bdb"></span></th>
                <th width="130">Quy ước<span class="bdb"></span></th>
                <th width="200">Kỳ lấy kết quả công việc<span class="bdb"></span></th>
                <th width="200">Kỳ lấy kết quả năng lực<span class="bdb"></span></th>
                <th width="80">Số nhân sự<span class="bdb"></span></th>
                <th><span class="bdb"></span></th>
            </tr>
            <tr>
                <td class="colchk"><input type="checkbox" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<script>
    function openPopupSua(title) {
        var id = $("#hidIDSelected").val();
        if (id == 0 || id == null) { return; }
        if (id.length > 0) id = id.substr(1);
        openPopup(title, id);
    }
    function openPopup(title, id) {
        id = EmptyNull(id);
        new top.PopLayer({
            "title": title,
            "url": "pop-co-cau-to-chuc/" + id,
            "width": 645,
            "height": 380,
            "isModal": true,
            "moveable": false,
            "isFullScreen": false
        });
    }
    function XoaData() {
        var chks = $('#gridbody td.colchk input[type="checkbox"]:checked');
        var max = chks.length;
        if (max < 1) { return; }
        if (!confirmDeleteVN()) { return; }
        var idQuyen = $("#hidIDQuyen").val();
        var tmp = "";
        for (var i = 0; i < max; i++) {
            var row = chks[i].parentNode.parentNode;
            var id = row.id;
            var idMucTieu = id.substr(1);
            tmp = tmp + idMucTieu + ";";
        }
        var Params = {
            "tmp": tmp,
            "idQuyen": idQuyen
        };

        $.ajax({
            type: "POST",
            traditional: true,
            //async: false,
            cache: false,
            url: '/XOA_CoCauToChucJson',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    MessageLoi(result.err);
                }
                else {
                    MessageThanhCong("Xóa dữ liệu thành công");
                    LoadData();
                }
            },
            error: function (err) {
                if (err.responseText != "")
                    event.preventDefault();
            }
        });
    }
    function ThanhCongThemMoi() {
        document.getElementById('myPop-close').click();
        MessageThanhCong("Thêm mới thành công");
        LoadData();
    }
    function ThanhCongSua() {
        document.getElementById('myPop-close').click();
        MessageThanhCong("Lưu dữ liệu thành công");
        LoadData();
    }
</script>
<script>
    function goToPage(e) {
        var pageIndex = parseInt($("#hidPageIndex").val());
        var totalRow = parseInt($("#hidtotalPage").val());
        switch (e.currentTarget.id) {
            case 'gofirst':
                $("#hidPageIndex").val(1);
                break;
            case 'goprev':
                if (pageIndex > 1) pageIndex = pageIndex - 1;
                $("#hidPageIndex").val(pageIndex);
                break;
            case 'gonext':
                if (pageIndex < totalRow) pageIndex = pageIndex + 1;
                $("#hidPageIndex").val(pageIndex);
                break;
            case 'golast':
                $("#hidPageIndex").val(totalRow);
                break;
        }
        LoadData();
    }
    function setFilter(e, suDung) {
        $("#hidSuDung").val(suDung);
        $("#hidPageIndex").val(1);

        var i, tabFilter;
        tabFilter = document.getElementById("filter").getElementsByTagName("span");
        for (i = 0; i < tabFilter.length; i++) {
            tabFilter[i].className = "";
        }
        e.currentTarget.className = "active";
        LoadData();
    }
    function NapData() {
        $("#hidPageIndex").val(1);
        LoadData();
    }
    function LoadData() {
        $("#hidIDSelected").val('');
        beginProgress();
        var error = $("#error");
        error.css("display", "none");
        var idQuyen = $("#hidIDQuyen").val();
        var idCocau = $("#ddlToChuc").val();
        var idNhomCap = $("#ddlNhomCap").val();
        var suDung = $("#hidSuDung").val();
        var pageIndex = $("#hidPageIndex").val();
        var keyword = $("#txtKeyword").val();
        //null:tất cả - 1: Đang sử dung - 0:không sử dụng
        var Params = {
            "idNhomCap": idNhomCap,
            "idCocau": idCocau,
            "suDung": suDung,
            "keyword": keyword,
            "pageIndex": pageIndex,
            "idQuyen": idQuyen
        };
        $.ajax({
            type: "GET",
            traditional: true,
            async: true,
            cache: false,
            url: '/tao_dot_phan_tich_json',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    error.text(result.err);
                    error.css("display", "inline");
                }
                resetTable();
                var list = result.list;
                var pager = result.pager;
                //Update pager
                var totalPage = Math.ceil(pager.totalRow / pager.pageSize);
                var fromRow = (pager.pageSize * (pageIndex - 1) + 1);
                var toRow = pager.pageSize * pageIndex;
                if (toRow > pager.totalRow) toRow = pager.totalRow;
                $("#hidtotalPage").val(totalPage);
                $("#pageinfo").text(fromRow + " - " + toRow + " trong " + pager.totalRow);
                $("#currentIndex").text(pageIndex + "/" + totalPage);

                var max = list.length;
                var tmp = "";
                for (var i = 0; i < max; i++) {
                    var obj = list[i];
                    var rowid = "r" + obj.idCoCau;
                    var bsuDung = true;
                    if (suDung == 0) { bsuDung = false; }
                    if (suDung == null || suDung == '' || obj.suDung == bsuDung) {
                        tmp = tmp + '<tr id="' + rowid + '" onclick="setSelect(this);">';
                        tmp = tmp + '<td class="colchk"><span class="bleft"></span><input type="checkbox" onclick="BtnFire(this)"></td>';
                        tmp = tmp + '<td class="break P' + EmptyNull(obj.capBac) + '">' + EmptyNull(obj.maCoCau) + '</td>';

                        tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '">';
                        //if (obj.coLopCon == true) {
                        //    tmp = tmp + '<img class="exp" src="./images/arrow_down.png">';
                        //}
                        tmp = tmp + EmptyNull(obj.tenCoCau) + '</td>';

                        tmp = tmp + '<td>' + EmptyNull(obj.tenCoCauNgan) + '</td>';
                        tmp = tmp + '<td class="tr">' + EmptyNull(obj.thuTu) + '</td>';

                        if (obj.suDung == true)
                            tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
                        else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';

                        tmp = tmp + '<td>' + EmptyNull(obj.tenNhomCap) + '</td>';

                        tmp = tmp + '<td>' + EmptyNull(obj.moTa) + '</td>';
                        tmp = tmp + '</tr>';
                    }
                }
                $('#progress').css({ width: 100 + '%' });
                $('#chkAll').prop('checked', false);
                $('#gridbody').append(tmp);
                endProgress();
            },
            error: function (err) {
                if (err.responseText != "")
                    event.preventDefault();
            }
        });
    }
    $(document).ready(function () {
        LoadData();
    });
    function popDongBo(title) {
        new top.PopLayer({
            "title": title,
            "url": "pop-dong-bo-co-cau",
            "width": 450,
            "height": 220,
            "isModal": true,
            "moveable": false,
            "isFullScreen": false
        });
    }
    function DongBoData() {
        $("#hidIDSelected").val('');
        beginProgress();
        var error = $("#error");
        error.css("display", "none");
        var idQuyen = $("#hidIDQuyen").val();
        var idCocau = $("#ddlToChuc").val();
        var idNhomCap = $("#ddlNhomCap").val();
        var suDung = $("#hidSuDung").val();
        var pageIndex = $("#hidPageIndex").val();
        //null:tất cả - 1: Đang sử dung - 0:không sử dụng
        var Params = {
            "idNhomCap": idNhomCap,
            "idCocau": idCocau,
            "suDung": suDung,
            "pageIndex": pageIndex,
            "idQuyen": idQuyen
        };
        var reqdata = {
            "UserName": "apihap@hap.vn",
            "Password": "apihap@hap.vn"
        };
        $.ajax({
            type: "GET",
            traditional: true,
            async: true,
            cache: false,
            url: '/DongBoCoCauJson',
            context: document.body,
            data: Params,
            success: function (result) {
                if (result.err.length > 0) {
                    error.text(result.err);
                    error.css("display", "inline");
                }
                resetTable();
                var list = result.list;
                var pager = result.pager;
                //Update pager
                var totalPage = Math.ceil(pager.totalRow / pager.pageSize);
                var fromRow = (pager.pageSize * (pageIndex - 1) + 1);
                var toRow = pager.pageSize * pageIndex;
                if (toRow > pager.totalRow) toRow = pager.totalRow;
                $("#hidtotalPage").val(totalPage);
                $("#pageinfo").text(fromRow + " - " + toRow + " trong " + pager.totalRow);
                $("#currentIndex").text(pageIndex + "/" + totalPage);

                var max = list.length;
                var tmp = "";
                for (var i = 0; i < max; i++) {
                    var obj = list[i];
                    var rowid = "r" + obj.idCoCau;
                    var bsuDung = true;
                    if (suDung == 0) { bsuDung = false; }
                    if (suDung == null || suDung == '' || obj.suDung == bsuDung) {
                        tmp = tmp + '<tr id="' + rowid + '" onclick="setSelect(this);">';
                        tmp = tmp + '<td class="colchk"><span class="bleft"></span><input type="checkbox" onclick="BtnFire(this)"></td>';
                        tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '"><span class="texthide">' + EmptyNull(obj.maCoCau) + '</span></td>';

                        tmp = tmp + '<td class="P' + EmptyNull(obj.capBac) + '"><span class="texthide">';
                        if (obj.coLopCon == true) {
                            tmp = tmp + '<img class="exp" src="./images/arrow_down.png">';
                        }
                        tmp = tmp + EmptyNull(obj.tenCoCau) + '</span></td>';

                        tmp = tmp + '<td><span class="texthide">' + EmptyNull(obj.tenCoCauNgan) + '</span></td>';

                        if (obj.suDung == true)
                            tmp = tmp + '<td class="tc"><input type="checkbox" checked="checked" onclick="return false;"/></td>';
                        else tmp = tmp + '<td class="tc"><input type="checkbox" onclick="return false;"/></td>';

                        tmp = tmp + '<td><span class="texthide">' + EmptyNull(obj.tenNhomCap) + '</span></td>';

                        tmp = tmp + '<td>' + EmptyNull(obj.moTa) + '</td>';
                        tmp = tmp + '</tr>';
                    }
                }
                $('#progress').css({ width: 100 + '%' });
                $('#chkAll').prop('checked', false);
                $('#gridbody').append(tmp);
                endProgress();
            },
            error: function (err) {
                if (err.responseText != "")
                    event.preventDefault();
            }
        });
    }
</script>