.main {
    margin: 0;
    padding: 0;
}

.main .nav_bar {
    background-color: gray;
    height: 65px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.main .nav_bar .menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.main .nav_bar .menu button {
    color: white;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0px 15px;
}

.main .nav_bar .user {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.main .nav_bar .user i {
    margin: auto;
    font-size: 30px;
    padding-right: 20px;
}

.main .nav_bar .user .name_user {
    margin: auto;
}

.main .nav_bar .user .name_user p {
    margin: 0;
    padding: 0;
}

.main .nav_bar .user .name_user a {
    color: white;
}

.main .table .navbar_table {
    display: flex;
    justify-content: flex-start;
    padding: 7px 0px;
}

.main .table .navbar_table button {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.main .table .menu_table {
    display: flex;
    justify-content: flex-start;
}

.main .table .menu_table .search {
    padding-left: 20vh;
}

.main .table .menu_table .search input {
    outline: none;
    padding: 0px 5px;
}

.main .table .menu_table .search button {
    outline: none;
    border: 0.5px solid black;
}

.main .table .navbar_table .menu_table i {
    padding: 0px 3px;
}

.main .table .main_table {
    padding-top: 20px;
}

.main .table .main_table table {
    width: 100%;
    text-align: center;
}

.main .table .main_table table thead {
    background: linear-gradient(rgb(238, 238, 238), rgb(199, 199, 199));
}


/* css bg color */

.main .bg_color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 20%;
    background-color: rgb(0, 0, 0);
}


/* css popup */

.main .popup {
    margin: auto;
    position: absolute;
    top: 0;
    left: 15vh;
    right: 15vh;
    background-color: white;
    border-radius: 15px;
    top: 15vh;
    background-color: rgb(238, 238, 238);
    height: 500px;
}

.main .popup .navbar_popup {
    background-color: rgb(76, 150, 219);
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 15px;
    height: 40px;
}

.main .popup .navbar_popup h3 {
    color: white;
    margin: auto 0;
}

.main .popup .navbar_popup button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
}

.main .popup .main_popup {
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

.main .popup .main_popup .navbar_table {
    padding: 5px 0px;
}

.main .popup .main_popup .table_popup table {
    width: 100%;
}

.main .popup .main_popup .table_popup table td {
    margin: auto;
}

.main table {
    border-collapse: collapse;
}

.main table th,
td {
    border: 1px solid rgb(163, 163, 163);
    padding:0;
    width:128px;
}

.main .popup .main_popup .table_popup table td input {
    display: block;
    margin: auto;
}

.main .popup .main_popup .table_popup table td button {
    display: block;
    margin: auto;
    width: 100%;
}


/* Css popup thông báo lỗi và thành công */

.main .successfully {
    background-color: rgb(32, 196, 32);
    color: white;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.main button {
    background-color: transparent;
    border: none;
}

.main .successfully b {
    margin: auto;
    display: block;
    padding: 10px 0px;
}

.main .error {
    background-color: rgb(226, 38, 38);
    color: white;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.main .error b {
    margin: auto;
    display: block;
    padding: 10px 0px;
}

.main .main_popup .select_chuc_nang select {
    width: 35vh;
    outline: none;
    padding: 2px 5px;
}

.main .main_popup .table_chuc_nang {
    display: flex;
    justify-content: space-between;
}

.main .main_popup .table_chuc_nang .table_left {
    width: 23%;
}

.main .main_popup .table_chuc_nang .table_left table {
    text-align: left;
}

.main .main_popup .table_chuc_nang p {
    background : linear-gradient(#64aee8 , #238cdc);
    padding: 3px 10px;
    text-align: left;
    margin: 0;
    color: white;
}

.main .main_popup .table_chuc_nang .table_right {
    text-align: left;
    width:100%;
    overflow:scroll;
}
.firstCol {
    width: 32em;
    word-break: break-all;
}

.main .main_popup .table_chuc_nang table {
    width: 100%;
    text-align: left;
}

.main .main_popup .table_chuc_nang table button {
    background-color: transparent;
    border: none;
}

.main .popup .main_popup .form {
    padding: 5px 0px;
}

.main .popup .main_popup .form .item_form {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}

.main .popup .main_popup .form .item_form label {
    width: 20%;
}

.main .popup .main_popup .form .item_form input[type=text],
input[type=number],
select {
    padding: 3px 10px;
    outline: none;
    width: 75%;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
}

.main .popup .main_popup .form textarea {
    padding: 3px 10px;
    outline: none;
    width: 75%;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
}

.main .popup .main_popup .form .item_form i {
    font-size: 7px;
    color: red;
    margin: auto 0;
}

.main .popup .main_popup .form .item_btn {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.main .popup .main_popup .form .item_btn button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
}

.main .popup .main_popup .form .item_btn .btn_save {
    background-color: rgb(96, 149, 247);
    color: white;
}

.main .popup .main_popup .form .item_btn .btn_hidden_popup {
    background-color: gainsboro;
}

table {
    width: 100%;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial;
}

[data-toggle="toggle"] {
    display: none;
}

label {
    display: block;
}


hide {
    display: block;
}


.hCollapsed::before {
    content: " +  ";
    color: blue;
}

.hExpanded::before {
    content: " -  ";
    color: red;
}